
<div class="connexion">
<img class="img-connex" src="../assets/img/form-img1.svg" alt="">
<div class="form-connexion">
    <h4>Reinitialiser son mot de passe</h4>
    <div class="img">
        <form action="" class="hero__form-reservation">
            <p>rentres ton email, et tu recevras un lien pour réinitialiser ton mot de passe.</p>
            <div class="form__group">
                <div class="input__element">
                    <label for="city">Email</label>
                    <img src="../assets/img/Frame.svg" alt="" srcset="">
                    <input type="email" name="" id="input" placeholder="Email">
                </div>
            </div>
            <a routerLink="/newpassord" class="fb-connect color-p">REINITIALISER LE MOT DE PASSE</a>
        </form>
    </div>
</div>
<img class="img-connex" src="../assets/img/form-img2.svg" alt="">
</div>
<div class="container form-img3">
    <img class="img-connex" src="../assets/img/form-img3.svg" alt="">
</div>
<div>
    <br>
    <br>
    <br>
</div>


