
<div class="connexion">
    <img class="img-connex" src="../assets/img/form-img1.svg" alt="">
    <div class="form-connexion">
        <h4>Inscription</h4>
        <div class="img">
            <form action="" class="hero__form-reservation">
                <div class="form__group">
                    <div class="input__element">
                        <label for="city">Email</label>
                        <img src="../assets/img/email.svg" alt="" srcset="">
                        <input type="email" name="" id="" placeholder="Email">
                    </div>
                </div>
                <div class="form__group">
                    <div class="input__element">
                        <label for="city">Téléphone</label>
                        <img src="../assets/img/tel.svg" alt="" srcset="">
                        <input type="tel" name="" id="" placeholder="Téléphone">
                    </div>
                </div>
                <div class="form__group">
                    <div class="input__element">
                        <label for="city">Mot de passe</label>
                        <img src="../assets/img/Group 530.svg" alt="" srcset="">
                        <input type="password" name="" id="" placeholder="Mot de passe">
                    </div>
                </div>
                <div class="form__group">
                    <div class="input__element">
                        <label for="city">Prénom</label>
                        <img src="../assets/img/prenom.svg" alt="" srcset="">
                        <input type="text" name="" id="" placeholder="Prénom">
                    </div>
                </div>
                <div class="chec">
                    <input type="checkbox" name="" id="">
                    <p>J'ai lu et j'accepte les <a href="http://"  class="color-b">conditions d’utilisations</a> de beauteadoom</p>
                </div>
                <a href="" class="fb-connect color-p">S'INSCRIRE</a>
                <div class="flex ou">
                    <img src="../assets/img/Line 16.svg" alt="" srcset="">
                    <p>Ou</p>
                    <img src="../assets/img/Line 16.svg" alt="" srcset="">
                </div>
                <p>S'inscrire avec</p>
                <div class="fb-connect">
                    <img src="../assets/img/fb.svg"  alt="">
                    <h5>FACEBOOK</h5>
                </div>
                <p>Vous avez déja un compe compte ? <a routerLink="/connexion" class="color-b">Se connecter</a> </p>
            </form>
        </div>
    </div>
    <img class="img-connex" src="../assets/img/form-img2.svg" alt="">
    </div>
    <div class="container form-img3">
        <img class="img-connex" src="../assets/img/form-img3.svg" alt="">
    </div>
    <div>
        <br>
        <br>
        <br>
    </div>
