
<section class="hero container">
    <div class="hero__text"><strong>Découvrez</strong> et <strong>réservez</strong> la coiffeuse qui vous correspond, en quelques clics !</div>
    <div class="hero__img">
        <img src="../assets/img/filleavectelephone1.png"  alt="girl with phone" />
    </div>
    <div class="hero__form">
        <div>
            <!-- <div class="hero__form-navigation">
                <button type="button" class="btn btn-active tabs-btn" id="tabs-form">Je reserve ma coiffeuse</button>
                <button type="button" class="btn tabs-btn" id="tabs-discover">Je découvre les coiffures</button>
            </div> -->
            <section>
                <input type="radio" name="show-tabs-content" id="show-hair">
                <label for="show-hair" class="btn tabs-btn">Je reserve ma coiffeuse</label>
                <input type="radio" name="show-tabs-content" id="show-form">
                <label for="show-form" class="btn tabs-btn">Je découvre les coiffures</label>
                
                <form action="" class="hero__form-reservation tabs-content tabs-active tabs-form">
                    <div class="form__group">
                        <div class="input__element">
                            <label for="city">Choix de la ville</label>
                            <img src="../assets/img/Group 64.svg" alt="" srcset="" />
                            <select name="city" id="city">
                                <option value="Nante">Nante</option>
                                <option value="Nante">Paris</option>
                                <option value="Nante">Marseille</option>
                                <option value="Nante">Lille</option>
                                <option value="Nante">Bamenda</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="input__element">
                            <label for="city">Prestation</label>
                            <img src="../assets/img/Vector.svg" alt="" srcset="" />
                            <select name="city" id="city">
                                <option value="Nante">Type de prestation</option>
                                <option value="Nante">Paris</option>
                                <option value="Nante">Marseille</option>
                                <option value="Nante">Lille</option>
                                <option value="Nante">Bamenda</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="input__element">
                            <label for="city">Choix de votre date</label>
                            <img src="../assets/img/Group 187.svg" alt="" srcset="" />
                            <select name="city" id="city">
                                <option value="Nante">Date</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="hero__form-hair tabs-content tabs-discover grid-layout">
                    <div>
                        <img src="../assets/img/hair-1.png" alt="hair" />
                        <h5>Tresse (Braids)</h5>
                    </div>
                    <div>
                        <img src="../assets/img/hair-1.png" alt="hair" />
                        <h5>Tresse (Braids)</h5>
                    </div>
                    <div>
                        <img src="../assets/img/hair-1.png" alt="hair" />
                        <h5>Tresse (Braids)</h5>
                    </div>
                    <div>
                        <img src="../assets/img/hair-1.png" alt="hair" />
                        <h5>Tresse (Braids)</h5>
                    </div>
                </div>
            </section>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</section>

<div class="blanc"></div>
<section class="city">
    <h3>Nous avons des coiffeuses disponibles dans de nombreuses villes, et bientôt près de <br>
        Chez vous. Nous avons sélectionné pour vous, des coiffeuses qualifiées et expérimentées, <br>
        Expertes dans l’entretien, les coupes, les lissages, les soins capillaires, les braids, les <br>
        vanilles, les coiffures enfants…</h3>
    <section class="card-container">
        <div class="slider">
            <div class="city-card">
                <div class="city-animation">
                    <img src="../assets/img/paris.svg" alt="" />
                    <a href="" class="btn btn-primary">RÉSERVER</a>
                </div>
                <h6>Réserves ta coiffeuse à Paris et sa région</h6>
            </div>
            <div class="city-card">
                <div class="city-animation">
                    <img src="../assets/img/rennes.svg" alt="" />
                    <a href="" class="btn btn-primary">RÉSERVER</a>
                </div>
                <h6>Réserves ta coiffeuse à Paris et sa région</h6>
            </div>
            <div class="city-card">
                <div class="city-animation">
                    <img src="../assets/img/nante.svg" alt="" />
                    <a href="" class="btn btn-primary">RÉSERVER</a>
                </div>
                <h6>Réserves ta coiffeuse à Paris et sa région</h6>
            </div>
            <div class="city-card">
                <div class="city-animation">
                    <img src="../assets/img/bordeaux.svg" alt="" />
                    <a href="" class="btn btn-primary">RÉSERVER</a>
                </div>
                <h6>Réserves ta coiffeuse à Paris et sa région</h6>
            </div>
            <div class="city-card">
                <div class="city-animation">
                    <img src="../assets/img/lille.svg" alt="" />
                    <a href="" class="btn btn-primary">RÉSERVER</a>
                </div>
                <h6>Réserves ta coiffeuse à Paris et sa région</h6>
            </div>
        </div>
    </section>
</section>
<div class="blanc"></div>
<section class="container coif">
    <br>
    <h4>Nos coiffeuses pour vos cheveux bouclés, frisés, crépus et afro à Bordeaux</h4>
    <p>Découvrez l’ensemble de nos coiffeuses qualifiées et expérimentées des cheveux <br>
        bouclés, frisés, crépus et afro pour la ville de Paris. Nos expertes prendront plaisir <br>
        à vous chouchouter et vous donner conseils et astuces pour entretenir vos cheveux.</p>
    <div class="model__coif">
        <div class="profil__coif">
        <img src="../assets/img/nadia.png" class="profil--coif" alt="">
            <div class="nme--city">
                <h4>Carole</h4>
                <h5>Paris</h5> <br>
                <div class="flex">
                    <div class="start">
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                    </div>
                    <div class="like">114 avis</div>
                </div>
            </div>
        </div>
        <div class="belle__image">
            <h6>Les coiffures realisées par Carolle</h6>
            <img src="../assets/img/bellefille.png" alt="">
            <img src="../assets/img/belletete.png" alt="">
            <img src="../assets/img/bellefille.png" alt="">
            <img src="../assets/img/belletete.png" alt="">
        </div>
    </div>
    <div class="model__coif">
        <div class="profil__coif">
        <img src="../assets/img/sarah.png" class="profil--coif" alt="">
            <div class="nme--city">
                <h4>Sarah</h4>
                <h5>Nante</h5> <br>
                <div class="flex">
                    <div class="start">
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                    </div>
                    <div class="like">67 avis</div>
                </div>
            </div>
        </div>
        <div class="belle__image">
            <h6>Les coiffures realisées par Sarah</h6>
            <img src="../assets/img/bellefille.png" alt="">
            <img src="../assets/img/belletete.png" alt="">
            <img src="../assets/img/bellefille.png" alt="">
            <img src="../assets/img/belletete.png" alt="">
        </div>
    </div>
    <div class="model__coif">
        <div class="profil__coif">
        <img src="../assets/img/sarah.png" class="profil--coif" alt="">
            <div class="nme--city">
                <h4>Sarah</h4>
                <h5>Nante</h5> <br>
                <div class="flex">
                    <div class="start">
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                        <img src="../assets/img/Star.svg" alt="" />
                    </div>
                    <div class="like">67 avis</div>
                </div>
            </div>
        </div>
        <div class="belle__image">
            <h6>Les coiffures realisées par Nathalie</h6>
            <img src="../assets/img/bellefille.png" alt="">
            <img src="../assets/img/belletete.png" alt="">
            <img src="../assets/img/bellefille.png" alt="">
            <img src="../assets/img/belletete.png" alt="">
        </div>
    </div>
</section>
<div class="blanc">

</div>
<section class="mega__section container">
    <!--===================== SECTIONS 1 ======================-->
    <section>
        <h4>Comment ça marche ?</h4>
        <div class="quest2">
            <div>
                <div class="number">1</div>
                <h5>Réservez</h5>
                <p>
                    Je souhaite me faire coiffer,<br />
                    je choisis ma prestation et le jour<br />
                    où je souhaite me faire coiffer.
                </p>
            </div>
            <div>
                <div class="number nn">2</div>
                <h5>Sélectionnez</h5>
                <p>
                    Je choisis parmi de nombreuses<br />
                    coiffeseuses qualifiées et expérimentées.
                </p>
            </div>
            <div>
                <div class="number">3</div>
                <h5>Validez</h5>
                <p>
                    Je valide ma prestation en payant<br />
                    directement sur la plateforme.<br />
                    mon rendez-vous est confirmé.
                </p>
            </div>
        </div>
    </section>


