

<div class="connexion">
<img class="img-connex" src="../assets/img/form-img1.svg" alt="">
<div class="form-connexion">
    <h4>Connexion</h4>
    <div class="img">
        <form action="" class="hero__form-reservation">
            <div class="form__group">
                <div class="input__element">
                    <label for="city">Email</label>
                    <img src="../assets/img/Frame.svg" alt="" srcset="">
                    <input type="text" name="" id="" placeholder="Email">
                </div>
            </div>
            <div class="form__group">
                <div class="input__element">
                    <label for="city">Mot de passe</label>
                    <img src="../assets/img/Group 530.svg" alt="" srcset="">
                    <input type="password" name="" id="" placeholder="Mot de passe">
                </div>
            </div>
            <p><a routerLink="/forgot"  class="color-b">Mot de passe oublier ?</a></p>
            <a href="" class="fb-connect color-p">SE CONNECTER</a>
            <div class="flex ou">
                <img src="../assets/img/Line 16.svg" alt="" srcset="">
                <p>Ou</p>
                <img src="../assets/img/Line 16.svg" alt="" srcset="">
            </div>
            <p>Se connecter avec</p>
            <div class="fb-connect">
                <img src="../assets/img/fb.svg"  alt="">
                <h5>FACEBOOK</h5>
            </div>
            <p>Vous n'avez pas encore de compte ? <a routerLink="/inscription" class="color-b">S'inscrire</a> </p>
        </form>
    </div>
</div>
<img class="img-connex" src="../assets/img/form-img2.svg" alt="">
</div>
<div class="container form-img3">
    <img class="img-connex" src="../assets/img/form-img3.svg" alt="">
</div>
<div>
    <br>
    <br>
    <br>
</div>

