
<div class="connexion">
<img class="img-connex" src="../assets/img/form-img1.svg" alt="">
<div class="form-connexion">
    <h4>Nouveau mot de passe</h4>
    <div class="img">
        <form action="" class="hero__form-reservation">
            <p>rentres ton nouveau mot de passe.</p>
            <div class="form__group">
                <div class="input__element">
                    <label for="city">Nouveau mot de passe</label>
                    <img src="../assets/img/Group 530.svg" alt="" srcset="">
                    <input type="password" name="" id="" placeholder="Nouveau mot de passe">
                </div>
                <br>
                <div class="input__element">
                    <label for="city">Confirmer mot de passe *</label>
                    <img src="../assets/img/Group 530.svg" alt="" srcset="">
                    <input type="password" name="" id="" placeholder="Confirmer mot de passe">
                </div>
            </div>
            <a routerLink="/newpassord" class="fb-connect color-p">ENREGISTRER LE MOT DE PASSE</a>
        </form>
    </div>
</div>
<img class="img-connex" src="../assets/img/form-img2.svg" alt="">
</div>
<div class="container form-img3">
    <img class="img-connex" src="../assets/img/form-img3.svg" alt="">
</div>
<div>
    <br>
    <br>
    <br>
</div>
